

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
    background: #777;
}

.header {
    background-color: #ebebeb;
    padding: 25px 50px;
    width: 950px;
    margin: 10px 50px;
    color: #777;
    font-size: 18px;
    text-align: center;
}    

.full {
    width: 40%;
    height: 150px;
    padding: 50px 50px;
    border: 20px solid #777;
    margin: 10px auto;
    float: left;
    background: #ebebeb;
}

.aside {
    background: #ebebeb;
    height: auto;
    width: 495px;
    padding: 20px;
    border: 10px solid #777;
    margin: 10px auto;   ;
    float: left;
}  

#article {
    background: 777px;
    color: white;
    text-weight: lighter;
    width: 30%;
    padding:15px;
    border: 5px solid #777;
    margin: 8px;
    overflow: auto;
}

#h1 {
    background: #ebebeb;
    color: #777;
    font-weight:bold;
    width: 30%;
    padding: 10px;
    border: 5px solid #777;
    margin: 8px;
    overflow: auto;
    
}

#paragraph{
    background: #ebebeb;
    color: #777;
    width: 30%;
    padding: 10px;
    border: 5px solid #777;
    margin: 8px;
    overflow: auto;
}

footer {
    clear: both;
    background: #ebebeb;
    text-align: center;
    padding: 25px;
    margin: 10px 50px;
    color: #777;
    font-size: 16px;
    font-weight: lighter;
}