
/*stylesheet, homework 1*/

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 960px;
    color: #777;
    margin: 10px auto;
    font-size: 18px;
    background-color: #777;
}

header, nav, footer {
    background-color: #ebebeb;
    padding: 25px 0;
    /* width: 960px; */
    margin: 10px auto;
    color: #777;
    text-align: center;
}  


section {
    background: #ebebeb;
    width: 495px;
    height: 305px;
    padding: 28px;
    margin: 10px auto;
    float: left;
    text-align: center;
}

aside {
    background: #ebebeb;
    text-align: center;
    width: 343px;
    height: 321px;
    padding: 20px;
    margin: 10px auto;
    float: right;
}

h3 {
    color: #777;
    font-size: 18px;
    font-weight: lighter;
}

#article {
    background-color: #777;
    color: #ebebeb;
    width: 90%;
    padding: 25px;
    margin: 24px auto;
}

#h1 {
    background: #ebebeb;
    color: #777;
    text-align: center;
    width: 90%;
    padding: 10px;
    margin: 10px;
}

#paragraph {
    color: #777;
    text-align: center;
    background: #ebebeb;
    width: 90%;
    padding: 10px;
    margin: 10px;

}   

.clear {
    clear:both;
}

